logs/
cache/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
web/*/dist/
web/*/node_modules/
.idea/
run/
build/
!web/admin/build/
!web/admin/build/cool/
!web/admin/build/cool/eps.json
.DS_Store
launch.json
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
data/*
pnpm-lock.yaml
!pnpm-lock.yaml
!web/*/pnpm-lock.yaml
cool.sqlite
src/index.ts
public/uploads/*
